@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  @apply font-arial bg-[#15202b] antialiased scroll-smooth;
}

@layer components {
  .hoverAnimation {
    @apply hover:bg-[#fff] hover:bg-opacity-5 rounded-full cursor-pointer px-2 py-2 transition duration-200 ease-out;
  }

  .icon {
    @apply cursor-pointer w-9 h-9 hover:bg-[#1d9bf0] hover:bg-opacity-10 flex items-center justify-center rounded-full transition ease-out;
  }

  .tag {
    @apply text-[#1d9bf0] font-normal hover:underline cursor-pointer;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1d9bf0;
  border-radius: 20px;
}
